body {
    background: #fffdfd;
}


header {
    
    position: absolute;
width: 1440px;
height: 117px;
left: 0px;
top: 0px;

background: #FFC107;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img#logo-omma {
    position: absolute;
width: 324px;
height: 84px;
left: 537px;
top: 16px;

background: url(./img-omma/img-omma/logo.png);
}

nav {
    
    position: absolute;
    width: 1440px;
    height: 48px;
    left: 0px;
    top: 117px;
    
    background: #FFA000;


}

 nav ul li#l1 {
/* início */
position:absolute;
width: 57px;
height: 24px;
left: 550px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: lowercase;

color: #FDFDFD;

    }

   nav ul li#l2 {
        position: absolute;
width: 84px;
height: 24px;
left: 665px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: lowercase;

color: #FDFDFD;
    }

  nav  ul li#l3 {
        position: absolute;
width: 82px;
height: 24px;
left: 807px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: lowercase;

color: #FDFDFD;

  }

  h1 {
    position: absolute;
    width: 462px;
    height: 61px;
    left: 120px;
    top: 272px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    text-transform: lowercase;
    
    color: #FFA000;
  }

  img#risoto {
    position: absolute;
    width: 592px;
    height: 311px;
    left: 120px;
    top: 400px;
    
    background: #C4C4C4;
  }

button#fácil {
    box-sizing: border-box;

position: absolute;
width: 95px;
height: 31px;
left: 120px;
top: 736px;

border: 1px solid #176902;
border-radius: 47px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: lowercase;

color: #176902;
}

button#serve4pessoas {
    box-sizing: border-box;

position: absolute;
width: 196px;
height: 31px;
left: 234px;
top: 736px;

border: 1px solid #176902;
border-radius: 47px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: lowercase;

color: #176902;
}

article#ingredientes {
    position: absolute;
    width: 592px;
    height: 576px;
    left: 128px;
    top: 825px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    
    color: #000000;
}

iframe  {
    
    position:absolute;
width: 580px;
height: 317px;
left: 0px;
top: 500px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}

article#modo-de-preparo {
    position: absolute;
width: 592px;
height: 576px;
left: 128px;
top: 1694px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-transform: lowercase;

color: #000000;

}

h3#rr {
    position: absolute;
width: 321px;
height: 37px;
left: 904px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-transform: lowercase;

color: #FFA000;
}


div#moqueca {
    position: absolute;
    width: 345px;
    height: 411px;
    left: 904px;
    top: 407px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

img#moqueca {
    position:absolute;
width: 345px;
height: 342px;
left: 904px;
top: 407px;
z-index:1;


}

h3#moqueca {
    position: absolute;
width: 466px;
height: 64px;
left: -60px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: lowercase;

color: #000000;
}

div#bolo-banana {
    position: absolute;
    width: 345px;
    height: 411px;
    left: 904px;
    top: 873px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

img#bolo-banana {
    position:absolute;
width: 345px;
height: 342px;
left: 904px;
top: 873px;
z-index:1;


}

h3#bolo-banana {
    position: absolute;
width: 466px;
height: 64px;
left: -60px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: lowercase;

color: #000000;
}

div#tabule {
    position: absolute;
    width: 345px;
    height: 411px;
    left: 907px;
    top: 1374px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

img#tabule {
    position: absolute;
    width: 345px;
    height: 342px;
    left: 907px;
    top: 1374px;
z-index:1;


}

h3#tabule {
    position: absolute;
width: 466px;
height: 64px;
left: -60px;
top: 330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: lowercase;

color: #000000;
}

footer {
    position: absolute;
width: 1440px;
height: 119px;
left: 0px;
top: 2397px;

background: #FFC107;
}

img#logo-omma2 {
    position: absolute;
    width: 324px;
    height: 84px;
    left: 6px;
    top: 16px;

background: url(./img-omma/img-omma/logo.png);
}


p#slogan {
position: absolute;
width: 464px;
height: 22px;
left: 368px;
top: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: lowercase;

color: #FFFFFF; } 